.projects {
  padding-top: 60px;
  padding-bottom: 60px;
  .container {
    ul {
      margin: 0 20px;
      gap: 10px;
      li {
        color: $mainColor;
        border: 2px solid $mainColor;
        border-radius: 8px;
        padding: 3px 0;
        cursor: pointer;
        transition: 0.3s ease-in-out;
        &.active,
        &:hover {
          border: 2px solid white;
          color: white;
          background-color: $secondColor;
        }
      }
    }
  }
  // Images
  .container-fluid {
    margin-top: 50px;
    .row {
      .col-sm {
        padding: 0;
        img {
          height: 220px;
          width: 100%;
        }
      }
    }
  }
}
