.choose
  .container-fluid
    .row 
      .col-sm-6.col-xs-12 
        img(src="../../images/ian-schneider-TamMbr4okv4-unsplash.jpg")
      .col-sm-6.col-xs-12      
        h2 Why Choose Us ?
        p we introdcue simple structure with easy to understnad also we use wireframing before made sites to make our clients statifiy of our products also we care about feedback otherthings we make update and development after buy our product for one year for free also when you want to buy again there will be discount so don't warry everything will be in your side 