<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">

    h1 we're an indpendnet design and #[span development] agency  
    <div class="overlay"></div>
    <div class="carousel-item carosuel-one active">
    </div>
    <div class="carousel-item carosuel-two">
    </div>
    <div class="carousel-item carosuel-three">
    </div>
  </div>
</div>