.overview.text-center 
  .container 
    h2.h1 company overview
    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem consectetur totam, ullam magnam repellendus at debitis, ipsum dolores alias quaerat suscipit placeat ratione est qui facilis enim unde veritatis. Magnam!
    span  Let's Start today
    button.btn.col-3.font-weight-bold view more  
