.post.text-center
  .container 
    h1 Latest Post
    .row 
      .col-md-6.col-lg-4
        .card
          img(class="card-img-top" src="../../images/3.jpg")
          .card-body
          h4.card-title Development Changes 
          h5.card-subtitle.text-muted 2022/2/2  
          p.card-text applying develpment simple interface work daily postive 
          a.card-link.text-danger.font-weight-bold Read More
      .col-md-6.col-lg-4
        .card
          img(class="card-img-top" src="../../images/2.jpg")
          .card-body
          h4.card-title Development Changes 
          h5.card-subtitle.text-muted 2022/2/2  
          p.card-text applying develpment simple interface work daily postive 
          a.card-link.text-danger.font-weight-bold Read More
      .col-md-6.col-lg-4
        .card
          img(class="card-img-top" src="../../images/6.jpg")
          .card-body
          h4.card-title Development Changes 
          h5.card-subtitle.text-muted 2022/2/2  
          p.card-text applying develpment simple interface work daily postive 
          a.card-link.text-danger.font-weight-bold Read More