.pricing.text-center
  .container 
    h1 Pricing Table
    .row 
      .col-md-6.col-lg-4
        .card
          .card-body
          h4.card-title Small Business 
          h5.card-subtitle.text-muted Lorem Ipusm  
          h6 $99/ #[span year]
          ul.list-group.list-group-flush
            li.list-group-item Lorem Ipsum
            li.list-group-item Lorem Ipsum
            li.list-group-item Lorem Ipsum
            li.list-group-item Lorem Ipsum
            li.list-group-item Lorem Ipsum
          button.btn Buy Now
      .col-md-6.col-lg-4
        .card
          .card-body
          h4.card-title Corporate 
          h5.card-subtitle.text-muted Lorem Ipusm
          h6.active $199/ #[span year]
          ul.list-group.list-group-flush
            li.list-group-item Lorem Ipsum
            li.list-group-item Lorem Ipsum
            li.list-group-item Lorem Ipsum
            li.list-group-item Lorem Ipsum
            li.list-group-item Lorem Ipsum
          button.btn Buy Now
      .col-md-6.col-lg-4
        .card
          .card-body
          h4.card-title Enterprice 
          h5.card-subtitle.text-muted Lorem Ipusm
          h6 $299/ #[span year]
          ul.list-group.list-group-flush
            li.list-group-item Lorem Ipsum
            li.list-group-item Lorem Ipsum
            li.list-group-item Lorem Ipsum
            li.list-group-item Lorem Ipsum
            li.list-group-item Lorem Ipsum
          button.btn Buy Now
