.projects.text-center
  .container
    ul.list-unstyled.row
      li.col-md.active All 
      li.col-md Websites
      li.col-md Logos 
      li.col-md Graphic  
      li.col-md Markting 
      li.col-md Vides 
  .container-fluid
    .row.shuffle-images 
      .col-sm.col-md-6.col-lg-3
        img(src="../../images/1.jpg")
      .col-sm.col-md-6.col-lg-3
        img(src="../../images/2.jpg")
      .col-sm.col-md-6.col-lg-3
        img(src="../../images/3.jpg")
      .col-sm.col-md-6.col-lg-3
        img(src="../../images/4.jpg")
    .row
      .col-sm.col-md-6.col-lg-3
        img(src="../../images/8.jpg")
      .col-sm.col-md-6.col-lg-3
        img(src="../../images/5.jpg")
      .col-sm.col-md-6.col-lg-3
        img(src="../../images/6.jpg")
      .col-sm.col-md-6.col-lg-3
        img(src="../../images/7.jpg")


