.stats.text-center 
  .container 
    .row 
      .col-sm-6.col-md-3
        i(class="fa fa-user fa-fw fa-4x")
        span 624
        p Happy CLinets 
      .col-sm-6.col-md-3
        i(class="fa fa-heart fa-fw fa-4x")
        span 112
        p Amazing Tours
      .col-sm-6.col-md-3
        i(class="fa fa-briefcase fa-fw fa-4x")
        span 595
        p Partiners 
      .col-sm-6.col-md-3
        i(class="fa fa-comment fa-fw fa-4x")
        span 80
        p questions Answered 


//- Contact us

.contact.text-center 
  .container 
    .row 
      .col-md-8
        div 
          p you think we're cool ? let's work together 
      .col-md-4
        div
          a.text-right Contact us
