.upper-bar 
  .container 
    .row 
      .col-lg.text-center

        span 
          i(class="fas fa-phone-alt")
          |0531257557
        span(class="font-weight-bold")
          i(class="fas fa-envelope") 
          | farisburi@gmail.com
      .col-lg.text-center

        span let work together 
        span 
          |get quote    

