link(rel="stylesheet", href="../library/bootstrap-4.6.1-dist/bootstrap-4.6.1-dist/css/bootstrap.css")
link(rel="stylesheet", href="../library/fontawesome-free-5.15.4-web (6)/fontawesome-free-5.15.4-web/css/all.min.css")
link(rel="stylesheet", href="../library/normlize.css")
link(rel="stylesheet", href="../SCSS/main.css")